.homeContainer {
    display: flex;
    background-color: #c7b299;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.headerContainer {
    height: 18vh;
    width: 40vw;
    margin-left: 2.25vw;
}

.headerText {
    display: flex;
    align-items: center;
    margin-left: 2.25vw;
    color: #534741;
    font-size: 3rem;
    font-weight: 400;
}

.headerLogo {
    width: 8.5vw;
    height: 8.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c7b299;
    font-size: 3rem;
    font-weight: 400;
}

.homeGridContainer {
    display: grid;
    grid-template-columns: 46% 54%;
    height: 80vh;
    width: 100vw;
}

.nftImageContainerOuter {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nftImageContainerInner {
    height: 35vw;
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c7b299;
}

.walletContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.walletButton {
    background-color: #c7b299 !important;
}

.walletImage {
    width: 20vw;
}

.walletInnerContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.walletTextAreaContainer {
    width: 100%;
}

.walletInnerTextContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.5rem;
    line-height: 0.5rem;
}

.walletInnerTextLeft{
    color: #b22234;
}

.walletInnerTextRight{
    color: #534741;
}

.mintButton {
    background-color: #c7b299 !important;
}

.mintImage {
    width: 10vw;
}

.MuiButton-contained:hover {
    box-shadow: none !important;
}
.MuiButton-contained {
    box-shadow: none !important;
}

.imageContainer {
    height: 100%;
    width: 100%;
}

/* Mobile */
.mHomeContainer {
    display: flex;
    background-color: #c7b299;
    flex-direction: column;
}

.mHeaderContainer {
    display: flex;
    flex-direction: row;
    margin: 2rem;
}

.mHeaderLogo {
    height: 4rem;
    width: 4rem;
}

.mHeaderText {
    display: flex;
    align-items: center;
    margin-left: 2.25vw;
    color: #534741;
    font-size: 1.3rem;
    font-weight: 400;
}

.mNftImageContainerOuter {
    height: 85vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mNftImageContainerInner {
    height: 70vw;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mWalletContainer {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mWalletImage{
    width: 50vw;
}

.mWalletTextAreaContainer {
    /* width: 100vw; */
    margin: 0 12vw;
}

.mMintContainer {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mWalletInnerTextContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 1000px) {
    .mMintImage {
        width: 20vw;
    }
    .mWalletInnerTextContainer{
        font-size: 1.1rem;
    }
}
@media (max-width: 500px) {
    .mMintImage {
        width: 30vw;
    }
    .mWalletInnerTextContainer{
        font-size: 1rem;
    }
}
@media (max-width: 350px) {
    .mMintImage {
        width: 30vw;
    }
    .mWalletInnerTextContainer{
        font-size: 0.8rem;
    }
}
